.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #51504c;
}

.BoardContainer {
  float: left;
  width: calc(100% - ( 340px + 40px));
  height: 80%;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  background-color: #41403d;
}

.ControlBarContainer {
  float: right;
  width: 300px;
  height: calc(100% - 40px);
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  background-color: #41403d;
}

.LoginContainer {
  float: left;
  width: 400px;
  height: 400px;
  margin-left: calc((100% - 400px) / 2);
  margin-top: calc((100vh - 400px) / 2);
  border-radius: 10px;
  background-color: #41403d;
}

.Password{
  float: left;
  width: 60%;
  height:25px;
  margin-left: calc(40% / 2);
  margin-top: 5px;
}

.Username {
  float: left;
  width:60%;
  height: 25px;
  margin-left: calc(40% / 2);
  margin-bottom: 10px;
  margin-top: 0px;
}

.Login {
  float: left;
  width:60%;
  height: 50px;
  margin-left: calc(40% / 2);
  margin-top: 20px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  background-color: blue;
}

.SwitchPage {
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: center;
  
}

h1 {
    color: blue;
    font-size: 50px;
    margin-top: 10;
    margin-bottom: 0px;
}

h3 {
  padding: none;
  color: grey;
  font-size: 30px;
  margin: 5;
}

h6 {
  margin: none;
  color: red;
  text-align: center;
}

.ErrorMsg {
  margin: 0px;
  color: red;
  text-align: center;
}